@charset "UTF-8";


body{
    font-family: sans-serif;
    background-color: white;
    margin: 0px;
}

header{
    background-color: #eee5e5;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.582);
    border-radius: 3px;



}

header > h1{
    margin-top: 5px;
    
}


main{
    background-color: #eee5e5;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.582);
}

main > section> p{
    margin-top: 0px;
    margin-bottom: 15;
    
}

article{
    background-color: lightgrey;
    padding: 5px;
    
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.582);
}

article > aside{
    background-color: rgb(189, 186, 186);
    display: inline-block;
    padding: 0px 3px ;
}

article > aside > p{
    margin: 0px;
}


article > h2{
    margin-top: 5px;
}

nav{
    display: inline-block;
    background-color: rgb(168, 167, 167);
    padding: 2px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.582);
    
    
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.158);

}

nav > a:hover{
    text-decoration: underline ;
}


footer{
    background-color: #868686;
    text-align: center;
    color: white;
    padding: 4px;
    margin: 10px;
}
footer > p{
    margin: 0px;
}

#bola{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(170, 158, 158);
    margin: 10px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.582);
    
    
}

#bola2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(170, 158, 158);
    margin: -110px 0px 0px 10px;
    box-shadow: inset -23px -27px 29px 22px rgb(0 0 0 / 84%)
    
    
}

#bola3{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(170, 158, 158, 0.014);
    margin: -100px 0px 0px 10px;
    box-shadow: inset 19px 23px 56px rgb(255 255 255 / 21%);
    color: white;
    text-align: center;
}

#bola3> p{
    display: inline-block;
}
